#N
#W
@min_distance=2.0
w_clk
@min_distance=2.0
w_rstn
@min_distance=2.0
wr
@min_distance=2.0
w_data[*]
@min_distance=2.0

#S
@min_distance=2.0
full
empty
#E
@min_distance=2.0
r_clk
r_rstn
rd
r_data[*]
